{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block page_content %}
<div class="page-header">
    <h1>Pozdrav {% if name %}{{ name }}{% else %}stranče{% endif %}!</h1>
    {% if not known %}
    <p>Drago mi je da smo se upoznali!</p>
    {% else %}
    <p>Drago mi je da ste se vratili!</p>
    {% endif %}
</div>
<div class="col-md-4">
    {{ render_form(form) }}
</div>

<div class="mt-4">
    <h4>current_user:</h4>
    <p>username: <b>{{current_user.username}}</b></p>
    <p>is_authenticated: <b>{{current_user.is_authenticated}}</b></p>
    <p>is_active: <b>{{current_user.is_active}}</b></p>
    <p>is_anonymous: <b>{{current_user.is_anonymous}}</b></p>
    <p>get_id(): <b>{{current_user.get_id()}}</b></p>
</div>

{% endblock %}